.orders{
    display: flex;
    justify-content: center;
    .container{
        padding: 20px 0;
        width: 1400px;
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            

        }
        table{
            width: 100%;
            tr{
                height: 50px;
                th{
                    text-align: left;
                }
                
                
                td{
                    img{
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }
                    .delete{
                        width: 25px;
                        cursor: pointer;
                    }
                }
                &:nth-child(even){
                    background-color: #1dbf730f;
                }
            }
        }


    }
}